.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff8c00;
}

.galery__topics {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  text-align: center;
  margin: 4%;
  background-color: white;
  cursor: pointer;
  flex-grow: 1;
}

.galery__topics__title {
  margin: 5px;
}
