.search-bar {
  display: flex;
  background-color: #131921;
  color: white;
  padding: 5px;
}

.container-form {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.select {
  width: 80px;
  padding: 12px;
  border: 1px solid #ccc;
  border-right-width: 10px;
  border-radius: 4px 0 0 4px;
  background-color: rgb(202, 202, 202);
  margin: 6px 0 16px 0;
  cursor: pointer;
}

.search-form {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.lens {
  width: 65px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  border-right: 0;
  background-color: orange;
  margin-top: 6px;
  margin-bottom: 16px;
  cursor: pointer;
}

.selected:hover {
  opacity: .8;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 2px 35px 0px 15px;
}